[Unit]
Description=Raspberry Pi Stats Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/raspberrypi_stats
EnvironmentFile=-/etc/default/raspberrypi_stats.env
Restart=on-failure

[Install]
WantedBy=multi-user.target
